body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.row {
    height: 20px;
}

.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}


.brick {
    background-color: blue;
}

.coin {
    background-image: url(../images/coin2.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#pacman {
    background-image: url(../images/Pacman.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

.empty {
    background-color: black;
}

#score {
    width: 100px;
    height: 50px;
    color: white;
    padding: 5px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 825px;
}

.cherry {
    background-image: url(../images/cherries.png);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#ghost1 {
    background-image: url(../images/ghost1-L.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;

}

#ghost1.ghost1-R {
    background-image: url(../images/ghost1-R.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#ghost1.ghost1-D {
    background-image: url(../images/ghost1-D.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#ghost1.ghost1-U {
    background-image: url(../images/ghost1.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#ghost2 {
    background-image: url(../images/ghost2-L.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;

}

#ghost2.ghost2-R {
    background-image: url(../images/ghost2-L.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#ghost2.ghost2-D {
    background-image: url(../images/ghost2-L.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#ghost2.ghost2-U {
    background-image: url(../images/ghost2-L.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#gameover {
    background-color: white;
    width: 200px;
    height: 100px;
    position: absolute;
    top: 250px;
    left: 270px;
}

#gameover h3, #gameover p {
    text-align: center;
}
